@import url("https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik:700&display=swap");
body {
  font-size: 14px !important;
  font-family: "Inter", sans-serif !important;
  background-color: #fff !important;
}

.section:after {
  left: 5%;
  border-left: 1px solid rgba(9, 9, 9, 0.4);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgba(9, 9, 9, 0.4);
}

.profile span {
  font-size: 13px !important;
  font-weight: 600;
}
@media screen and (min-width: 600px) {
  .profile button {
    min-width: 110px;
  }
}

.banner-wrapper {
  height: calc(100vh - 80px);
  overflow: hidden;
  position: relative;
  max-height: calc(100vh - 80px);
  transition: 0.3s ease-in-out;
  background-color: #131313;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='9' viewBox='0 0 32 32'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='Artboard-5' fill='%23fff' fill-opacity='0.04' fill-rule='nonzero'%3E%3Cpath d='M6 18h12V6H6v12zM4 4h16v16H4V4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  opacity: 1;
}
.banner-wrapper .banner-welcome-msg {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 350px;
  z-index: 9999999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}
.banner-wrapper .banner-welcome-msg h6 {
  color: white;
  font-weight: 400;
  margin-bottom: 15px;
  font-size: 15px;
}
.banner-wrapper .banner-welcome-msg h1.h1-bg {
  position: absolute;
  color: rgba(0, 0, 0, 0) !important;
  opacity: 0.04;
  font-size: 200px;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.2), 1px -1px 0 rgba(255, 255, 255, 0.2), -1px 2px 0 rgba(255, 255, 255, 0.2), 1px 2px 0 rgba(255, 255, 255, 0.2);
  user-select: none;
}
.banner-wrapper .banner-welcome-msg h1.h1-banner {
  z-index: 999999999999999;
  font-weight: 900;
  font-size: 80px;
  opacity: 1;
  margin-bottom: 24px;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 6px 5px 1px whitesmoke;
  letter-spacing: -3px;
  animation: fadeUp 1s ease-in-out;
}
.banner-wrapper .banner-welcome-msg .header-small {
  animation: fadeUpText 1s 0.8s ease-in-out forwards;
  opacity: 0;
}
.banner-wrapper .banner-image {
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
  bottom: 0px;
  height: 100%;
}

button.learn-more {
  font-weight: 700 !important;
  color: rgba(0, 0, 0, 0.8) !important;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: white;
  border: 2px solid white;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
  animation: animate-btn 1s ease-in-out;
}
button.learn-more::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #111111;
  border-radius: inherit;
  box-shadow: 0 0 0 2px white, 0 0.05em 0 0 white;
  transform: translate3d(0, 0.8em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  animation: animate-btn-after 1s ease-in-out;
}
button.learn-more:hover {
  transform: translate(0, 0.25em);
  outline: 0 !important;
  outline: none !important;
}
button.learn-more:hover::before {
  box-shadow: 0 0 0 2px white, 0 0.05em 0 0 white;
  transform: translate3d(0, 0.5em, -1em);
  outline: 0 !important;
  outline: none !important;
}
button.learn-more:active {
  transform: translate(0em, 0.75em);
  outline: 0 !important;
  outline: none !important;
}
button.learn-more:active::before {
  box-shadow: 0 0 0 2px white, 0 0 white;
  transform: translate3d(0, 0, -1em);
  outline: 0 !important;
  outline: none !important;
}
button.create-more {
  font-weight: 500 !important;
  color: white !important;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #FF4655;
  border: 2px solid white;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
  animation: animate-btn 1s ease-in-out;
}
button.create-more::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #111111;
  border-radius: inherit;
  box-shadow: 0 0 0 2px white, 0 0.05em 0 0 white;
  transform: translate3d(0, 0.8em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  animation: animate-btn-after 1s ease-in-out;
}
button.create-more:hover {
  transform: translate(0, 0.25em);
}
button.create-more:hover::before {
  box-shadow: 0 0 0 2px white, 0 0.05em 0 0 white;
  transform: translate3d(0, 0.5em, -1em);
}
button.create-more:active {
  transform: translate(0em, 0.75em);
  outline: 0 !important;
  outline: none !important;
}
button.create-more:active::before {
  box-shadow: 0 0 0 2px white, 0 0 white;
  transform: translate3d(0, 0, -1em);
  outline: 0 !important;
  outline: none !important;
}

.dots {
  width: 70%;
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.03);
  margin: 0 auto;
  position: absolute;
  left: 15%;
  z-index: 9999;
  top: 0;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: rgba(255, 70, 85, 0.8);
}

::selection {
  color: white;
  background: rgba(255, 70, 85, 0.8);
}

.glitch {
  position: relative;
  color: white;
  font-size: 4em;
  /* Animation provies a slight random skew. Check bottom of doc
  for more information on how to random skew. */
  animation: glitch-skew 2s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0 !important;
  width: 100%;
  height: 100%;
  white-space: pre;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
  a typical top,right,bottom,left fashion and creates a mask
  to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
  with an alternating animation to keep things fresh. */
  animation: glitch-anim 12s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0 !important;
  width: 100%;
  height: 100%;
  white-space: pre;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(77px, 9999px, 14px, 0);
    transform: skew(0.76deg);
  }
  5% {
    clip: rect(49px, 9999px, 16px, 0);
    transform: skew(0.2deg);
  }
  10% {
    clip: rect(66px, 9999px, 24px, 0);
    transform: skew(0.38deg);
  }
  15% {
    clip: rect(13px, 9999px, 24px, 0);
    transform: skew(0.13deg);
  }
  20% {
    clip: rect(5px, 9999px, 22px, 0);
    transform: skew(0.59deg);
  }
  25% {
    clip: rect(73px, 9999px, 55px, 0);
    transform: skew(0.63deg);
  }
  30% {
    clip: rect(50px, 9999px, 91px, 0);
    transform: skew(0.99deg);
  }
  35% {
    clip: rect(85px, 9999px, 25px, 0);
    transform: skew(0.12deg);
  }
  40% {
    clip: rect(41px, 9999px, 25px, 0);
    transform: skew(0.68deg);
  }
  45% {
    clip: rect(41px, 9999px, 18px, 0);
    transform: skew(0.56deg);
  }
  50% {
    clip: rect(49px, 9999px, 46px, 0);
    transform: skew(0.85deg);
  }
  55% {
    clip: rect(86px, 9999px, 63px, 0);
    transform: skew(0.23deg);
  }
  60% {
    clip: rect(87px, 9999px, 96px, 0);
    transform: skew(0.12deg);
  }
  65% {
    clip: rect(79px, 9999px, 89px, 0);
    transform: skew(0.41deg);
  }
  70% {
    clip: rect(44px, 9999px, 3px, 0);
    transform: skew(0.15deg);
  }
  75% {
    clip: rect(87px, 9999px, 37px, 0);
    transform: skew(0.73deg);
  }
  80% {
    clip: rect(21px, 9999px, 53px, 0);
    transform: skew(0.09deg);
  }
  85% {
    clip: rect(32px, 9999px, 37px, 0);
    transform: skew(0.51deg);
  }
  90% {
    clip: rect(11px, 9999px, 47px, 0);
    transform: skew(0.17deg);
  }
  95% {
    clip: rect(97px, 9999px, 3px, 0);
    transform: skew(0.51deg);
  }
  100% {
    clip: rect(16px, 9999px, 95px, 0);
    transform: skew(0.7deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(13px, 9999px, 7px, 0);
    transform: skew(0.79deg);
  }
  5% {
    clip: rect(41px, 9999px, 2px, 0);
    transform: skew(0.09deg);
  }
  10% {
    clip: rect(47px, 9999px, 82px, 0);
    transform: skew(0.96deg);
  }
  15% {
    clip: rect(22px, 9999px, 96px, 0);
    transform: skew(0.56deg);
  }
  20% {
    clip: rect(70px, 9999px, 97px, 0);
    transform: skew(0.21deg);
  }
  25% {
    clip: rect(53px, 9999px, 10px, 0);
    transform: skew(0.31deg);
  }
  30% {
    clip: rect(99px, 9999px, 5px, 0);
    transform: skew(0.87deg);
  }
  35% {
    clip: rect(96px, 9999px, 8px, 0);
    transform: skew(0.81deg);
  }
  40% {
    clip: rect(8px, 9999px, 95px, 0);
    transform: skew(0.88deg);
  }
  45% {
    clip: rect(49px, 9999px, 13px, 0);
    transform: skew(0.41deg);
  }
  50% {
    clip: rect(40px, 9999px, 88px, 0);
    transform: skew(0.05deg);
  }
  55% {
    clip: rect(87px, 9999px, 54px, 0);
    transform: skew(0.56deg);
  }
  60% {
    clip: rect(100px, 9999px, 46px, 0);
    transform: skew(0.45deg);
  }
  65% {
    clip: rect(16px, 9999px, 15px, 0);
    transform: skew(0.05deg);
  }
  70% {
    clip: rect(85px, 9999px, 53px, 0);
    transform: skew(0.94deg);
  }
  75% {
    clip: rect(58px, 9999px, 24px, 0);
    transform: skew(0.64deg);
  }
  80% {
    clip: rect(21px, 9999px, 42px, 0);
    transform: skew(0.37deg);
  }
  85% {
    clip: rect(21px, 9999px, 38px, 0);
    transform: skew(0.16deg);
  }
  90% {
    clip: rect(37px, 9999px, 78px, 0);
    transform: skew(0.01deg);
  }
  95% {
    clip: rect(11px, 9999px, 57px, 0);
    transform: skew(0.25deg);
  }
  100% {
    clip: rect(48px, 9999px, 46px, 0);
    transform: skew(0.4deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(4deg);
  }
  10% {
    transform: skew(-1deg);
  }
  20% {
    transform: skew(1deg);
  }
  30% {
    transform: skew(-3deg);
  }
  40% {
    transform: skew(5deg);
  }
  50% {
    transform: skew(-4deg);
  }
  60% {
    transform: skew(3deg);
  }
  70% {
    transform: skew(2deg);
  }
  80% {
    transform: skew(1deg);
  }
  90% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(5deg);
  }
}
@keyframes animateImage {
  from {
    background-color: rgba(19, 19, 19, 0.9);
  }
  to {
    background-color: #131313;
  }
}
@keyframes animate {
  from {
    bottom: -150px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes fadeUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fadeUpText {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes animate-btn {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes animate-btn-after {
  from {
    transform: translate3d(0, 0em, 0em);
  }
  to {
    transform: translate3d(0, 0.8em, -1em);
  }
}
.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 999999999999999;
  color: #000;
  overflow-y: hidden;
  animation: moveLeftFull 2.2s ease-in-out;
}

.loader2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  right: -100%;
  background-color: #FF4655;
  position: fixed;
  top: 0;
  z-index: 999999999999999;
  color: #000;
  overflow-y: hidden;
  animation: moveLeft 1s 1s ease-in-out;
}

@keyframes moveLeftFull {
  0% {
    right: 200%;
  }
  50% {
    right: 0%;
  }
  100% {
    right: -100%;
  }
}
@keyframes moveLeft {
  0% {
    right: 200%;
  }
  100% {
    right: -100%;
  }
}
.nav-item {
  padding-left: 30px;
  font-size: 0.8em;
  color: #F9F9F9 !important;
  opacity: 1;
}
.nav-item a {
  color: #F9F9F9;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.nav-item .dropdown-toggle a {
  color: #111111 !important;
}

.dropdown-menu.dropdown-menu-right.show a {
  color: #000 !important;
}

.logo {
  width: 50px;
}

.navbar {
  background-color: #111111;
  height: 80px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  width: 100%;
  z-index: 999;
}

.navbar-brand {
  margin-right: 0px !important;
  font-weight: 900;
}

div.megaheaderh1 {
  position: relative;
  height: 200px;
  width: 100%;
}
div.megaheaderh1 .h1-megaheader {
  font-size: 3em;
  font-weight: 700;
  z-index: 2;
  color: #0f1923;
  font-weight: 700;
  transition: 0.3s ease;
  animation: animate 0.7s ease-in-out;
  animation-direction: alternate;
  letter-spacing: -3px;
}
div.megaheaderh1 .h1-megaheader-outlined {
  color: #fff;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.05), 1px -1px 0 rgba(0, 0, 0, 0.05), -1px 1px 0 rgba(0, 0, 0, 0.05), 1px 1px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  font-weight: 700;
  font-size: 8em;
  white-space: pre;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

p,
span,
div,
a,
button {
  font-size: 1em !important;
}

button {
  border-radius: 0px !important;
  font-weight: 700 !important;
  font-size: 13px !important;
}

.btn-danger {
  background-color: #FF4655 !important;
}

.navbar-dark .navbar-nav .nav-link,
.profil,
button {
  color: #F9F9F9 !important;
}

.nav-link:hover {
  opacity: 0.8;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #fff;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham4 .top {
  stroke-dasharray: 40 121;
}

.ham4 .bottom {
  stroke-dasharray: 40 121;
}

.ham4.active .top {
  stroke-dashoffset: -68px;
}

.ham4.active .bottom {
  stroke-dashoffset: -68px;
}

/*# sourceMappingURL=global.css.map */
