@import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap');

$black: #111111;
$white: #ece8e1;
$white-text: #F9F9F9;
$red: #FF4655;
$textColor: #0f1923;

body {
    font-size: 14px !important;
    font-family: 'B612', sans-serif !important;
    background-color: $white !important;
}


h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.3em;
}

p,
span,
div,
a,
button {
    font-size: 1em !important;
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: rgba($red, 0.8);
}

::selection {
    color: white;
    background: rgba($red, 0.8);
}

.navbar {
    background-color: $black;
    height: 80px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    position: absolute !important;
    width: 100%;
    z-index: 9999999999999999999;
}

.section:after {
    left: 5%;
    border-left: 1px solid rgba(9, 9, 9, .4);
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgba(9, 9, 9, 0.4);
}

button {
    font-size: 13px !important;
}

.profile {
    span {
        padding-right: 10px;
        font-size: 13px !important;
        font-weight: 600;
    }
}

@keyframes animate {
    from {
        bottom: -150px;
        opacity: 0;
    }

    to {
        bottom: 0px;
        opacity: 1;
    }
}

@keyframes animate-btn {
    from {
        bottom: -150px;
        opacity: 0;
    }

    to {
        bottom: 70px;
        opacity: 1;
    }
}

.banner-wrapper {
    height: 100vh;
    overflow: hidden;
    position: relative;
    max-height: 100vh;

    .banner-welcome-msg {
        h6 {
            color: white;
            font-weight: 600;
            margin-bottom: 15px;
        }

        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 350px;
        z-index: 9999999;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        overflow: hidden;

        h1.h1-bg {
            position: absolute;
            color: rgba(0, 0, 0, 0) !important;
            opacity: 0.04;
            font-size: 200px;
            text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.2), 1px -1px 0 rgba(255, 255, 255, 0.2), -1px 2px 0 rgba(255, 255, 255, 0.2), 1px 2px 0 rgba(255, 255, 255, 0.2);
        }

        h1.h1-banner {
            z-index: 999999999999999;
            color: rgb(245, 245, 245);
            font-weight: 700;
            font-size: 90px;
            text-transform: uppercase;
            opacity: 1;
            margin-bottom: 50px;
        }

        .banner-btn {
            position: absolute;
            height: 50px;
            padding: 10px 30px 10px 30px;
            border: none;
            background-color: #dc3545;
            font-size: 16px !important;
            outline: 0;
            z-index: 999999999999;
            transition: ease;
            bottom: 70px;
            animation: animate-btn 1s;

            &:after {
                content: "";
                position: absolute;
                right: 0;
                height: 100%;
                border: 1px solid rgba(255, 255, 255, 0.2);
                width: 100%;
                bottom: 0;
                width: 113%;
                margin: 0 auto;
                left: -9px;
                margin: auto;
                height: 50%;
                top: -100%;
                border-bottom: none;
            }

            &:before {
                content: "";
                position: absolute;
                right: 0;
                height: 100%;
                border: 1px solid rgba(255, 255, 255, 0.2);
                width: 100%;
                bottom: 0;
                width: 113%;
                margin: 0 auto;
                left: -9px;
                margin: auto;
                height: 50%;
                bottom: -22%;
                border-top: none;
            }
        }
    }

    .banner-image {
        width: 100%;
        object-fit: cover;
        opacity: 0.5;
        bottom: 0px;
        height: 100%;
    }

    transition:0.3s ease-in-out;
    background-color: #131313;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='Artboard-5' fill='%23fff' fill-opacity='0.04' fill-rule='nonzero'%3E%3Cpath d='M6 18h12V6H6v12zM4 4h16v16H4V4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    animation: animateImage 0.4s ease-in-out;
    opacity:1;
}

@keyframes animateImage {
    from {
        background-color: rgba(#131313, 0.9);
    }

    to {
        background-color: rgba(#131313, 1);
    }
}

div.megaheaderh1 {
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;

    .h1-megaheader {
        font-size: 3em;
        font-weight: 700;
        position: absolute;
        z-index: 2;
        left: 10%;
        color: $textColor;
        font-weight: 700;
        transition: 0.3s ease;
        bottom: 0px;
        animation: animate 0.7s ease-in-out;
        animation-direction: alternate;
        letter-spacing: -3px;
    }

    .h1-megaheader-outlined {
        color: $white;
        text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.05), 1px -1px 0 rgba(0, 0, 0, 0.05), -1px 1px 0 rgba(0, 0, 0, 0.05), 1px 1px 0 rgba(0, 0, 0, 0.05);
        position: absolute;
        font-weight: 700;
        font-size: 8em;
        white-space: pre;
    }
}

.logo {
    width: 50px;
}

@mixin glitchCopy {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0 !important;
    width: 100%;
    height: 100%;
    white-space: pre;
}

.navbar-dark .navbar-nav .nav-link,
.profil,
button {
    color: $white-text !important;
}

.glitch {
    position: relative;
    color: white;
    font-size: 4em;
    /* Animation provies a slight random skew. Check bottom of doc
for more information on how to random skew. */
    animation: glitch-skew 2s infinite linear alternate-reverse;

    // Creates a copy before our text. 
    &::before {
        // Duplicates our text with the mixin.
        @include glitchCopy;
        // Scoots text slightly to the left for the color offset.
        left: 2px;
        // Creates the color 'shadow' that happens on the glitch.
        text-shadow: -2px 0 #ff00c1;
        /* Creates an initial clip for our glitch. This works in
    a typical top,right,bottom,left fashion and creates a mask
    to only show a certain part of the glitch at a time. */
        clip: rect(44px, 450px, 56px, 0);
        /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
    with an alternating animation to keep things fresh. */
        animation: glitch-anim 12s infinite linear alternate-reverse;
    }

    // Creates a copy after our text. Note comments from ::before.
    &::after {
        @include glitchCopy;
        left: -2px;
        text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
        animation: glitch-anim2 1s infinite linear alternate-reverse;
    }
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
    $steps: 20;

    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            clip: rect(random(100)+px, 9999px, random(100)+px, 0);
            transform: skew((random(100) / 100) + deg);
        }
    }
}

// Same deal, just duplicated for ultra randomness.
@keyframes glitch-anim2 {
    $steps: 20;

    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            clip: rect(random(100)+px, 9999px, random(100)+px, 0);
            transform: skew((random(100) / 100) + deg);
        }
    }
}

// Does the same deal as before, but now only skews. Used for main text.
@keyframes glitch-skew {
    $steps: 10;

    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            transform: skew((random(10) - 5) + deg);
        }
    }
}

.nav-item {
    a {
        color: $white-text;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .dropdown-toggle {
        a {
            color: $black !important;
        }
    }

    padding-left:30px;
    font-size: 0.8em;
    color: $white-text !important;
    opacity: 1;
}

button {
    border-radius: 0px !important;
    font-weight: 700 !important;
}

.btn-danger {
    background-color: $red !important;
}

@import "./partials/hamburger";