@import url("https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap");
body {
  font-size: 14px !important;
  font-family: "B612", sans-serif !important;
  background-color: #ece8e1 !important;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

p,
span,
div,
a,
button {
  font-size: 1em !important;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: rgba(255, 70, 85, 0.8);
}

::selection {
  color: white;
  background: rgba(255, 70, 85, 0.8);
}

.navbar {
  background-color: #111111;
  height: 80px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  position: absolute !important;
  width: 100%;
  z-index: 10000000000000002000;
}

.section:after {
  left: 5%;
  border-left: 1px solid rgba(9, 9, 9, 0.4);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgba(9, 9, 9, 0.4);
}

button {
  font-size: 13px !important;
}

.profile span {
  padding-right: 10px;
  font-size: 13px !important;
  font-weight: 600;
}

@keyframes animate {
  from {
    bottom: -150px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes animate-btn {
  from {
    bottom: -150px;
    opacity: 0;
  }
  to {
    bottom: 70px;
    opacity: 1;
  }
}
.banner-wrapper {
  height: 100vh;
  overflow: hidden;
  position: relative;
  max-height: 100vh;
  transition: 0.3s ease-in-out;
  background-color: #131313;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='Artboard-5' fill='%23fff' fill-opacity='0.04' fill-rule='nonzero'%3E%3Cpath d='M6 18h12V6H6v12zM4 4h16v16H4V4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  animation: animateImage 0.4s ease-in-out;
  opacity: 1;
}
.banner-wrapper .banner-welcome-msg {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 350px;
  z-index: 9999999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}
.banner-wrapper .banner-welcome-msg h6 {
  color: white;
  font-weight: 600;
  margin-bottom: 15px;
}
.banner-wrapper .banner-welcome-msg h1.h1-bg {
  position: absolute;
  color: rgba(0, 0, 0, 0) !important;
  opacity: 0.04;
  font-size: 200px;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.2), 1px -1px 0 rgba(255, 255, 255, 0.2), -1px 2px 0 rgba(255, 255, 255, 0.2), 1px 2px 0 rgba(255, 255, 255, 0.2);
}
.banner-wrapper .banner-welcome-msg h1.h1-banner {
  z-index: 999999999999999;
  color: whitesmoke;
  font-weight: 700;
  font-size: 90px;
  text-transform: uppercase;
  opacity: 1;
  margin-bottom: 50px;
}
.banner-wrapper .banner-welcome-msg .banner-btn {
  position: absolute;
  height: 50px;
  padding: 10px 30px 10px 30px;
  border: none;
  background-color: #dc3545;
  font-size: 16px !important;
  outline: 0;
  z-index: 999999999999;
  transition: ease;
  bottom: 70px;
  animation: animate-btn 1s;
}
.banner-wrapper .banner-welcome-msg .banner-btn:after {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  bottom: 0;
  width: 113%;
  margin: 0 auto;
  left: -9px;
  margin: auto;
  height: 50%;
  top: -100%;
  border-bottom: none;
}
.banner-wrapper .banner-welcome-msg .banner-btn:before {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  bottom: 0;
  width: 113%;
  margin: 0 auto;
  left: -9px;
  margin: auto;
  height: 50%;
  bottom: -22%;
  border-top: none;
}
.banner-wrapper .banner-image {
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
  bottom: 0px;
  height: 100%;
}

@keyframes animateImage {
  from {
    background-color: rgba(19, 19, 19, 0.9);
  }
  to {
    background-color: #131313;
  }
}
div.megaheaderh1 {
  position: relative;
  height: 200px;
  width: 100%;
  overflow: hidden;
}
div.megaheaderh1 .h1-megaheader {
  font-size: 3em;
  font-weight: 700;
  position: absolute;
  z-index: 2;
  left: 10%;
  color: #0f1923;
  font-weight: 700;
  transition: 0.3s ease;
  bottom: 0px;
  animation: animate 0.7s ease-in-out;
  animation-direction: alternate;
  letter-spacing: -3px;
}
div.megaheaderh1 .h1-megaheader-outlined {
  color: #ece8e1;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.05), 1px -1px 0 rgba(0, 0, 0, 0.05), -1px 1px 0 rgba(0, 0, 0, 0.05), 1px 1px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  font-weight: 700;
  font-size: 8em;
  white-space: pre;
}

.logo {
  width: 50px;
}

.navbar-dark .navbar-nav .nav-link,
.profil,
button {
  color: #F9F9F9 !important;
}

.glitch {
  position: relative;
  color: white;
  font-size: 4em;
  /* Animation provies a slight random skew. Check bottom of doc
  for more information on how to random skew. */
  animation: glitch-skew 2s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0 !important;
  width: 100%;
  height: 100%;
  white-space: pre;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
  a typical top,right,bottom,left fashion and creates a mask
  to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
  with an alternating animation to keep things fresh. */
  animation: glitch-anim 12s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0 !important;
  width: 100%;
  height: 100%;
  white-space: pre;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(14px, 9999px, 11px, 0);
    transform: skew(0.77deg);
  }
  5% {
    clip: rect(22px, 9999px, 98px, 0);
    transform: skew(0.94deg);
  }
  10% {
    clip: rect(97px, 9999px, 27px, 0);
    transform: skew(0.43deg);
  }
  15% {
    clip: rect(82px, 9999px, 85px, 0);
    transform: skew(0.96deg);
  }
  20% {
    clip: rect(45px, 9999px, 38px, 0);
    transform: skew(0.13deg);
  }
  25% {
    clip: rect(28px, 9999px, 49px, 0);
    transform: skew(0.14deg);
  }
  30% {
    clip: rect(16px, 9999px, 32px, 0);
    transform: skew(0.33deg);
  }
  35% {
    clip: rect(15px, 9999px, 36px, 0);
    transform: skew(0.76deg);
  }
  40% {
    clip: rect(43px, 9999px, 25px, 0);
    transform: skew(0.64deg);
  }
  45% {
    clip: rect(75px, 9999px, 57px, 0);
    transform: skew(0.46deg);
  }
  50% {
    clip: rect(79px, 9999px, 64px, 0);
    transform: skew(0.78deg);
  }
  55% {
    clip: rect(32px, 9999px, 13px, 0);
    transform: skew(0.78deg);
  }
  60% {
    clip: rect(58px, 9999px, 69px, 0);
    transform: skew(0.09deg);
  }
  65% {
    clip: rect(27px, 9999px, 65px, 0);
    transform: skew(0.09deg);
  }
  70% {
    clip: rect(25px, 9999px, 74px, 0);
    transform: skew(0.28deg);
  }
  75% {
    clip: rect(19px, 9999px, 47px, 0);
    transform: skew(0.97deg);
  }
  80% {
    clip: rect(40px, 9999px, 91px, 0);
    transform: skew(0.44deg);
  }
  85% {
    clip: rect(6px, 9999px, 37px, 0);
    transform: skew(0.28deg);
  }
  90% {
    clip: rect(9px, 9999px, 50px, 0);
    transform: skew(0.46deg);
  }
  95% {
    clip: rect(2px, 9999px, 93px, 0);
    transform: skew(0.66deg);
  }
  100% {
    clip: rect(30px, 9999px, 69px, 0);
    transform: skew(0.25deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(18px, 9999px, 84px, 0);
    transform: skew(0.4deg);
  }
  5% {
    clip: rect(90px, 9999px, 58px, 0);
    transform: skew(0.99deg);
  }
  10% {
    clip: rect(77px, 9999px, 70px, 0);
    transform: skew(0.67deg);
  }
  15% {
    clip: rect(25px, 9999px, 70px, 0);
    transform: skew(0.85deg);
  }
  20% {
    clip: rect(6px, 9999px, 99px, 0);
    transform: skew(0.84deg);
  }
  25% {
    clip: rect(100px, 9999px, 94px, 0);
    transform: skew(0.7deg);
  }
  30% {
    clip: rect(74px, 9999px, 25px, 0);
    transform: skew(0.79deg);
  }
  35% {
    clip: rect(63px, 9999px, 47px, 0);
    transform: skew(0.95deg);
  }
  40% {
    clip: rect(90px, 9999px, 42px, 0);
    transform: skew(0.14deg);
  }
  45% {
    clip: rect(71px, 9999px, 35px, 0);
    transform: skew(0.68deg);
  }
  50% {
    clip: rect(48px, 9999px, 17px, 0);
    transform: skew(0.1deg);
  }
  55% {
    clip: rect(84px, 9999px, 7px, 0);
    transform: skew(0.59deg);
  }
  60% {
    clip: rect(28px, 9999px, 31px, 0);
    transform: skew(0.63deg);
  }
  65% {
    clip: rect(41px, 9999px, 81px, 0);
    transform: skew(0.04deg);
  }
  70% {
    clip: rect(20px, 9999px, 38px, 0);
    transform: skew(0.8deg);
  }
  75% {
    clip: rect(67px, 9999px, 32px, 0);
    transform: skew(0.55deg);
  }
  80% {
    clip: rect(10px, 9999px, 70px, 0);
    transform: skew(0.93deg);
  }
  85% {
    clip: rect(59px, 9999px, 100px, 0);
    transform: skew(0.6deg);
  }
  90% {
    clip: rect(1px, 9999px, 94px, 0);
    transform: skew(0.98deg);
  }
  95% {
    clip: rect(79px, 9999px, 72px, 0);
    transform: skew(0.1deg);
  }
  100% {
    clip: rect(27px, 9999px, 42px, 0);
    transform: skew(0.58deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(0deg);
  }
  10% {
    transform: skew(0deg);
  }
  20% {
    transform: skew(-1deg);
  }
  30% {
    transform: skew(4deg);
  }
  40% {
    transform: skew(1deg);
  }
  50% {
    transform: skew(3deg);
  }
  60% {
    transform: skew(0deg);
  }
  70% {
    transform: skew(5deg);
  }
  80% {
    transform: skew(5deg);
  }
  90% {
    transform: skew(-4deg);
  }
  100% {
    transform: skew(-2deg);
  }
}
.nav-item {
  padding-left: 30px;
  font-size: 0.8em;
  color: #F9F9F9 !important;
  opacity: 1;
}
.nav-item a {
  color: #F9F9F9;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.nav-item .dropdown-toggle a {
  color: #111111 !important;
}

button {
  border-radius: 0px !important;
  font-weight: 700 !important;
}

.btn-danger {
  background-color: #FF4655 !important;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #fff;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham4 .top {
  stroke-dasharray: 40 121;
}

.ham4 .bottom {
  stroke-dasharray: 40 121;
}

.ham4.active .top {
  stroke-dashoffset: -68px;
}

.ham4.active .bottom {
  stroke-dashoffset: -68px;
}

/*# sourceMappingURL=global.css.map */
