button {
    border-radius: 0px !important;
    font-weight: 700 !important;
    font-size: 13px !important;
}

.btn-danger {
    background-color: $red !important;
}

.navbar-dark .navbar-nav .nav-link,
.profil,
button {
    color: $white-text !important;
}