button {
    border-radius: 0px !important;
    font-weight: 700 !important;
    font-size: 13px !important;
}

.btn-danger {
    background-color: $red !important;
}

.navbar-dark .navbar-nav .nav-link,
.profil,
button {
    color: $white-text !important;
}

.nav-link {
    &:hover {
        opacity:0.8;
    }
}

.delete-btn {
    background-color:$red !important;
    font-size:13px !important;
}

.edit-btn {
    background-color:rgba(0,0,0,0.2) !important;
    font-size:13px !important;
    font-weight:600 !important;
}
.btn-create {
    border:2px solid rgba(0,0,0,0.8) !important;
    color:rgba(0,0,0,0.8) !important;
    font-size:14px !important;
    text-align:center;
    font-weight:600 !important;
    padding-left:24px !important;
    padding-right:24px !important;
}