.section:after {
    left: 5%;
    border-left: 1px solid rgba(9, 9, 9, .4);
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgba(9, 9, 9, 0.4);
}



.profile {
    span {
        font-size: 13px !important;
        font-weight: 600;
    }
    button {
      @media screen and (min-width:600px) {
        min-width:110px;
      }
    }
}


.banner-wrapper {
    height: calc(100vh - 80px);
    overflow: hidden;
    position: relative;
    max-height: calc(100vh - 80px);
    transition:0.3s ease-in-out;
    background-color: #131313;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='9' viewBox='0 0 32 32'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='Artboard-5' fill='%23fff' fill-opacity='0.04' fill-rule='nonzero'%3E%3Cpath d='M6 18h12V6H6v12zM4 4h16v16H4V4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    opacity:1;
    .banner-welcome-msg {
        h6 {
            color: white;
            font-weight: 400;
            margin-bottom: 15px;
            font-size:15px;
        }

        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 350px;
        z-index: 9999999;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        overflow: hidden;

        h1.h1-bg {
            position: absolute;
            color: rgba(0, 0, 0, 0) !important;
            opacity: 0.04;
            font-size: 200px;
            text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.2), 1px -1px 0 rgba(255, 255, 255, 0.2), -1px 2px 0 rgba(255, 255, 255, 0.2), 1px 2px 0 rgba(255, 255, 255, 0.2);
            user-select: none;
        }

        h1.h1-banner {
            z-index: 999999999999999;
            font-weight: 900;
            font-size: 80px;
            opacity: 1;
            margin-bottom: 24px;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            color: white;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-shadow: 6px 5px 1px whitesmoke;
            letter-spacing:-3px;
            animation:fadeUp 1s ease-in-out;
        }
        .header-small {
          animation:fadeUpText 1s 0.8s ease-in-out forwards;
          opacity:0;
        }

    }

    .banner-image {
        width: 100%;
        object-fit: cover;
        opacity: 0.5;
        bottom: 0px;
        height: 100%;
    }
}


@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

$bg: #fff;
$text: #382b22;
$light-pink: #fff0f0;
$pink: #ffe9e9;
$dark-pink: #f9c4d2;
$pink-border: #b18597;
$pink-shadow: #ffe3e2;

button {
  &.learn-more {
    font-weight: 700 !important;
    color: rgba(0,0,0,0.8) !important;
    font-size:.9rem;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: white;
    border: 2px solid white;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    animation: animate-btn 1s ease-in-out;

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgb(17, 17, 17);
      border-radius: inherit;
      box-shadow: 0 0 0 2px white, 0 0.05em 0 0 white;
      transform: translate3d(0, 0.8em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
      animation: animate-btn-after 1s ease-in-out;
    }
    &:hover {
      transform: translate(0, 0.25em);
      outline:0 !important;
      outline:none !important;    
      &::before {
        box-shadow: 0 0 0 2px white, 0 0.05em 0 0 white;
        transform: translate3d(0, 0.5em, -1em);
        outline:0 !important;
        outline:none !important;    
      }
    }
    &:active {
      transform: translate(0em, 0.75em);
      outline:0 !important;
      outline:none !important;    
      &::before {
        box-shadow: 0 0 0 2px white, 0 0 white;
        transform: translate3d(0, 0, -1em);
        outline:0 !important;
        outline:none !important;    
      }
    }
  }


  &.create-more {
    font-weight: 500 !important;
    color: rgba(255,255,255, 1) !important;
    font-size:.9rem;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: $red;
    border: 2px solid white;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    animation: animate-btn 1s ease-in-out;
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgb(17, 17, 17);
      border-radius: inherit;
      box-shadow: 0 0 0 2px white, 0 0.05em 0 0 white;
      transform: translate3d(0, 0.8em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
      animation: animate-btn-after 1s ease-in-out;
    }
    &:hover {
      transform: translate(0, 0.25em);
      &::before {
        box-shadow: 0 0 0 2px white, 0 0.05em 0 0 white;
        transform: translate3d(0, 0.5em, -1em);
      }
    }
    &:active {
      transform: translate(0em, 0.75em);
      outline:0 !important;
      outline:none !important;    
      &::before {
        box-shadow: 0 0 0 2px white, 0 0 white;
        transform: translate3d(0, 0, -1em);
        outline:0 !important;
        outline:none !important;    
      }
    }
  }
}

.dots {
  width: 70%;
  height: 100%;
  border-left:1px solid rgba(255,255,255,0.03);
  margin: 0 auto;
  position: absolute;
  left: 15%;
  z-index:9999;
  top: 0;
}